.card-bkgd {
  width: 20rem; 
  height: 20rem; 
  border-radius: 50%;
}

.splash-height {
  min-height: 36rem;
}

.container {
  max-width: 960px;
}

.court {
  background-image: url(./static_assets/court_background.jpg);
  
  /* Full height */
  height: 100%;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.over-court {
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(19, 35, 58, 0.85); /* Black w/opacity/see-through */
  color: #f1faee;
}

.spaced {
  margin-left: 1rem;
  margin-top: 0.2rem;
}

.about-me {
  background-image: url(./static_assets/dc_img.jpg);
  
  /* Center and scale the image nicely */
  background-position: 75% 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

.taxes {
  background-image: url(./static_assets/calc.jpg);
  
  /* Center and scale the image nicely */
  /* background-position: 75% 75%; */
  background-repeat: no-repeat;
  background-size: cover;
}

.book {
  background-image: url(./static_assets/book_cover.jpg);
  
  background-color: #000;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.preso {
  background-image: url(./static_assets/tax_cover.jpg);
  background-color: #181818;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer-header {
  background-color: rgba(11, 29, 53, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.custom-active {
  color: #F1FAEE;

}

.footer-header a {
  color: #a8dadc;
  transition: color .15s ease-in-out;
  text-decoration: none;
}
.footer-header a:hover {
  color: #f1faee;
}

.footer-header svg:hover {
  color: #f1faee;
}

.footer-header h5 {
  color: #a8dadc;
}

.footer-header svg {
  color: #a8dadc;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
